.resource {
  &.border {
    border: 1px solid $fabula-greendark;
    border-radius: 6px;
  }
  .resource-label {
    font-weight: bold;
    .hp {
      color: $fabula-warning;
    }
    .mp {
      color: $fabula-crystal;
    }
  }
}
.crisis {
  color: $fabula-warning;
}